<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12" style="border: solid; border-color:#D7D6D6;border-width:1px;border-bottom:none; border-right:none; background-color:rgba(0, 0, 0, 0.69);  height:32px; s ">
        <p style="color:white;font-size:small; ">BioNex Solutions quality system is certified to ISO 13485 and ISO 9001 </p>
</div>
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" style="border: solid; border-color:#D7D6D6;border-width:1px;border-bottom:none;border-left:none; background-color:rgba(0, 0, 0, 0.69); height:32px; ">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-top:2px;"><a href="https://www.facebook.com/BioNexSolutionsInc"><img src="/assets/images/social/facebook.png" height="26" /></a></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-top:2px;"><a href="http://twitter.com/bionex" target="_blank"><img src="/assets/images/social/twitter.png" height="26" /></a></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-top:2px;"><a href="https://www.linkedin.com/company/bionex-solutions"><img src="/assets/images/social/linkedin.png" height="26" /></a> </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-top:2px;"><a href="https://vimeo.com/user61312970" target="_blank"><img src="/assets/images/social/vimeo.png" height="26" /></a></div>
    </div>  
</div>